# Python
__pycache__/
*.py[cod]
*$py.class

# Python compiled files
*.pyc
*.pyo

# VS Code Code Runner
tempCodeRunnerFile.py

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Node / React
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.env.*
!.env.example

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Local databases
*.db
